img{
    max-height: 30px;
    max-width: 30px;
    margin-right: 5px;
}
i{
    font-size: 30px;
    min-width: 35px;
    color: #8e8e8e !important;
}
.links{
    margin: 10px 0;
}
.links:hover{
    cursor: pointer;
}
.sign-out{
    color: inherit !important;
    text-decoration: none;
}