<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <label class="main-label">Welcome Back!</label>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary text-right">Create Track</button>
        </div>
    </div>
    <div class="prod-tracks row">
        <div class="col-12">
            <label class="sub-label">Production Tracks</label>
        </div>
        <div class="prod-track-container">
            <div class="single-prod-track green">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track blue">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track blue">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track green">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track blue">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
        </div>
    </div>
    <div class="prod-tracks-bottom col-12 row">
        <div class="col-6 bottom-div">
            <label class="sub-label">Available</label>
            <div class="table-div">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Sample">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>
                    <mat-tab label="Production">Content 2</mat-tab>
                    <mat-tab label="Third label">Content 3</mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="col-6 bottom-div">
            <label class="sub-label">Recent Files</label>
            <div class="table-div">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-file" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
