<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <label class="main-label">Welcome Back!</label>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary text-right">Create Track</button>
        </div>
    </div>
    <div class="prod-tracks row">
        <div class="col-12">
            <label class="sub-label">Production Tracks</label>
        </div>
        <div class="prod-track-container">
            <div class="single-prod-track green">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track blue">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track blue">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track green">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
            <div class="single-prod-track blue">
                <label class="prod-t-label">Production Track 1</label>
                <div class="description">
                    <p>Lorem epsum Lorem epsum Lorem epsum</p>
                </div>
                <div class="status">
                    <p>Completed</p>
                </div>
                <div class="long-description">
                    <p>Lorem epsum Lorem epsum Lorem epsum Lorem Lorem Lorem Lorem epsum Lorem epsum</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
        </div>
    </div>
    <div class="prod-tracks row">
        <div class="col-10">
            <label class="sub-label">Pending Production Tracks</label>
        </div>
        <div class="col-2" style="align-self:center;">
            <div class="view">
                <a>View all</a>
            </div>
        </div>
        <div style="margin: 15px 0;width: 100%;">
            <mat-carousel  timings="250ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="auto" proportion="25"
                slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false">
                    <div class="row col-12" style="margin: auto;">
                        <div class="prod-tracks-main" style="margin-left: 20px;">
                            <div class="prod-tracks-first-row">
                                <div class="left">
                                    <label>Lorem Epsum Torem Lorem</label>
                                </div>
                                <div class="right">
                                    <i aria-hidden="true" class="fa fa-circle i-status"></i>
                                    <span>Approved</span>
                                </div>
                            </div>
                            <div class="cd-flex">
                                <label class="prod-tm-label">Track 1</label>
                            </div>
                            <div class="cd-flex">
                                <span class="p-count">8</span><span class="p-span">Scenarios</span>
                            </div>
                            <div class="cd-flex">
                                <span class="link"><i class="fa fa-circle" aria-hidden="true"></i>Executive</span>
                                <span class="more-user">
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
                                    </a>
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-1.jpg">
                                    </a>
                                    <span class="plus-more">
                                        +2
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="prod-tracks-main">
                            <div class="prod-tracks-first-row">
                                <div class="left">
                                    <label>Lorem Epsum Torem Lorem</label>
                                </div>
                                <div class="right">
                                    <i aria-hidden="true" class="fa fa-circle i-status"></i>
                                    <span>Approved</span>
                                </div>
                            </div>
                            <div class="cd-flex">
                                <label class="prod-tm-label">Track 1</label>
                            </div>
                            <div class="cd-flex">
                                <span class="p-count">8</span><span class="p-span">Scenarios</span>
                            </div>
                            <div class="cd-flex">
                                <span class="link"><i class="fa fa-circle" aria-hidden="true"></i>Executive</span>
                                <span class="more-user">
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
                                    </a>
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-1.jpg">
                                    </a>
                                    <span class="plus-more">
                                        +2
                                    </span>
                                </span>
                            </div>
                        </div><div class="line"></div>
                        <div class="prod-tracks-main">
                            <div class="prod-tracks-first-row">
                                <div class="left">
                                    <label>Lorem Epsum Torem Lorem</label>
                                </div>
                                <div class="right">
                                    <i aria-hidden="true" class="fa fa-circle i-status"></i>
                                    <span>Approved</span>
                                </div>
                            </div>
                            <div class="cd-flex">
                                <label class="prod-tm-label">Track 1</label>
                            </div>
                            <div class="cd-flex">
                                <span class="p-count">8</span><span class="p-span">Scenarios</span>
                            </div>
                            <div class="cd-flex">
                                <span class="link"><i class="fa fa-circle" aria-hidden="true"></i>Executive</span>
                                <span class="more-user">
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
                                    </a>
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-1.jpg">
                                    </a>
                                    <span class="plus-more">
                                        +2
                                    </span>
                                </span>
                            </div>
                        </div><div class="line"></div>
                        <div class="prod-tracks-main">
                            <div class="prod-tracks-first-row">
                                <div class="left">
                                    <label>Lorem Epsum Torem Lorem</label>
                                </div>
                                <div class="right">
                                    <i aria-hidden="true" class="fa fa-circle i-status"></i>
                                    <span>Approved</span>
                                </div>
                            </div>
                            <div class="cd-flex">
                                <label class="prod-tm-label">Track 1</label>
                            </div>
                            <div class="cd-flex">
                                <span class="p-count">8</span><span class="p-span">Scenarios</span>
                            </div>
                            <div class="cd-flex">
                                <span class="link"><i class="fa fa-circle" aria-hidden="true"></i>Executive</span>
                                <span class="more-user">
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
                                    </a>
                                    <a href="javascript:;" class="avatar rounded-circle">
                                        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-1.jpg">
                                    </a>
                                    <span class="plus-more">
                                        +2
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-carousel-slide>
            </mat-carousel>
        </div>
    </div>
    <div class="prod-tracks-bottom col-12 row">
        <div class="col-6 bottom-div">
            <label class="sub-label">Available</label>
            <div class="table-div">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Sample">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                                <tr>
                                    <td class="bold">Dataset Name</td>
                                    <td class="text-right">Lorem epsum lorem epsum</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>
                    <mat-tab label="Production">Content 2</mat-tab>
                    <mat-tab label="Third label">Content 3</mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="col-6 bottom-div">
            <label class="sub-label">Recent Files</label>
            <div class="table-div">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-file" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="bold">File</td>
                            <td>Lorem epsum lorem epsum</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
