<div class="row track-summary-container">
    <div class="col-12 progress-container">
        <label class="col-12">Track Summary</label>
        <div id="doughnut-chart-ui">
            <div class="chart" *ngFor="let dChart of doughnutCharts">
                <div class="wrapper">
                    <div>
                        <app-doughnut-chart [chartLabels]="dChart.labels" [jsonArray]="dChart.numbers"
                            [backgroundColors]="dChart.colors"></app-doughnut-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row circular-status-row">
            <div class="col-5">
                <i class="fa fa-circle i-draft" aria-hidden="true"></i><span class="circle-status">Draft</span><span class="circle-count">6</span>
            </div>
            <div class="col-7">
                <i class="fa fa-circle i-in-progress" aria-hidden="true"></i><span class="circle-status">In Progress</span><span class="circle-count">12</span>
            </div>
            <div class="col-6">
                <i class="fa fa-circle i-approved" aria-hidden="true"></i><span class="circle-status">Approved</span><span class="circle-count">10</span>
            </div>
        </div>

    </div>
    <hr> 
    <app-scenario-summary></app-scenario-summary>
</div>
