 <div class="row" style="margin: 0 auto;">
    <div class="col-8">
        <label class="main-label">My Recent Tracks</label>
    </div>
    <div class="col-4 text-center">
        <a class="view-all">View All</a>
    </div>
 </div> 
 
 <div class="row" style="margin: 0 auto;">
    <div class="col-12" style="padding: 0px;">
            <div class="row" style="margin: 0 auto;">
                <div class="col-10 details-header">Track 1</div>
                <div class="col-2">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-12 detail-descr">details will go here</div>
            <div class="col-12 scenarios"><span>3</span>Scenarios</div>
            <div class="row" style="margin: 0 auto;">
                <div class="col-8">
                    <i aria-hidden="true" class="fa fa-circle i-draft"></i>
                    <span class="status-label">Draft</span>
                </div>
                <div class="col-4 text-center">
                    <a class="view-all">View</a>
                </div>
            </div>          
    </div>
    <hr>
    <div class="col-12" style="padding: 0px;">
        <div class="row" style="margin: 0 auto;">
            <div class="col-10 details-header">Track 1</div>
            <div class="col-2">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-12 detail-descr">details will go here</div>
        <div class="col-12 scenarios"><span>3</span>Scenarios</div>
        <div class="row" style="margin: 0 auto;">
            <div class="col-8">
                <i aria-hidden="true" class="fa fa-circle i-draft"></i>
                <span class="status-label">Draft</span>
            </div>
            <div class="col-4 text-center">
                <a class="view-all">View</a>
            </div>
        </div>          
</div>
<hr>
<div class="col-12" style="padding: 0px;">
    <div class="row" style="margin: 0 auto;">
        <div class="col-10 details-header">Track 1</div>
        <div class="col-2">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-12 detail-descr">details will go here</div>
    <div class="col-12 scenarios"><span>3</span>Scenarios</div>
    <div class="row" style="margin: 0 auto;">
        <div class="col-8">
            <i aria-hidden="true" class="fa fa-circle i-draft"></i>
            <span class="status-label">Draft</span>
        </div>
        <div class="col-4 text-center">
            <a class="view-all">View</a>
        </div>
    </div>          
</div>
<hr>
<div class="col-12" style="padding: 0px;">
    <div class="row" style="margin: 0 auto;">
        <div class="col-10 details-header">Track 1</div>
        <div class="col-2">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-12 detail-descr">details will go here</div>
    <div class="col-12 scenarios"><span>3</span>Scenarios</div>
    <div class="row" style="margin: 0 auto;">
        <div class="col-8">
            <i aria-hidden="true" class="fa fa-circle i-draft"></i>
            <span class="status-label">Draft</span>
        </div>
        <div class="col-4 text-center">
            <a class="view-all">View</a>
        </div>
    </div>          
</div>
 </div> 
   

